[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
nltk = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
flake8 = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.6"
